-i https://pypi.org/simple/
autopep8==1.5
bleach==3.3.0
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
cryptography==3.3.1
docutils==0.16
idna==2.10
importlib-metadata==3.4.0 ; python_version < '3.8'
jeepney==0.6.0 ; sys_platform == 'linux'
keyring==22.0.1
packaging==20.9
pkginfo==1.7.0
pycodestyle==2.6.0
pycparser==2.20
pygments==2.7.4
pyparsing==2.4.7
readme-renderer==28.0
requests-toolbelt==0.9.1
requests==2.23.0
secretstorage==3.3.0 ; sys_platform == 'linux'
six==1.15.0
tqdm==4.56.0
twine==3.1.1
typing-extensions==3.7.4.3 ; python_version < '3.8'
urllib3==1.25.11
webencodings==0.5.1
zipp==3.4.0
